In [26]:
print(range(10))

range(0, 10)

In [27]:
while cond :
    .....
    .....

SyntaxError: invalid syntax (2488166766.py, line 2)

1,2,3,4.....10

In [ ]:
i=1
while i<=10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

10,9,8,.....1

In [ ]:
i=10

while i>=1:
    print(i)
    i-=1

10
9
8
7
6
5
4
3
2
1

1 , 4 , 9 , 16, ..... 100
1, 2, 3, 4, ......10

In [ ]:
i=1
while i<=10:
    print(i*i)
    i+=1

1
4
9
16
25
36
49
64
81
100

In [ ]:
1 , 5, 14 ,30 .....1000
1 2   3

In [ ]:
i=1
sum=0
while  i <15:
    sum = sum + (i*i)
    i=i+1
    print(sum)

1
5
14
30
55
91
140
204
285
385
506
650
819
1015

1+2+3...+10=?

In [ ]:
i=1
sum=0
while i <= 10:
    sum = sum +i
    i+=1
    

print(sum)

1
3
6
10
15
21
28
36
45
55
55

In [ ]:
n=int(input("enter the value "))
fec=1
i=1
while i <=n:
    fec=fec*i

    i=i+1
print(fec)

40320

In [ ]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

100 ,98, 96, ......2

In [ ]:
# function

In [35]:
def  show():
    print("hi")

In [ ]:
show()

hi

In [39]:
def sum ():
    x=int(input("enter value "))
    y=int(input("enter value "))
    print(x+y)

In [40]:
sum()

25

In [ ]:
def sum (x,y):
    print(x+y)

In [42]:
sum(4,6)

10

In [43]:
def sum (x,y):
    
    return (x+y)

In [ ]:
print(sum(4,5))

9

In [48]:
def fect():
    n=6
    i=1
    f=1
    while i<=n :
        f=f*i
        i+=1
    print(f)

In [ ]:
def sum (x,y):
    print(x+y)

In [50]:
def fect(n):
    
    i=1
    f=1
    while i<=n :
        f=f*i
        i+=1
    print(f)

In [52]:
fect(10)

3628800

In [54]:
def fect(n):
    
    i=1
    f=1
    while i<=n :
        f=f*i
        i+=1
    return f

In [55]:
print(fect(5))

120

In [75]:

def max (n):
    global mx
    if n > mx:
        mx=n
    return mx

In [77]:
mx=0
n1=0
while n1 >= 0:
    n1=int(input("enter value"))
    m=max(n1)
    
print(m)

2

In [78]:
import math
print(   math.sin(4) )

-0.7568024953079282