***Lists***

In [1]:
ages = [19, 26, 29]
print(ages)

[19, 26, 29]

In [2]:
l = [1,2,"ali", 5,6]
print(l)

[1, 2, 'ali', 5, 6]

In [3]:
student = ['jack', 32, "Cmp", 3.5, [2,5]]
print(student[::-1]) # reverse the list

[[2, 5], 3.5, 'Cmp', 32, 'jack']

In [5]:
print(len(student)) # length of the list

5

In [4]:
#Empty list
empty_list = []
print(empty_list)

[]

*List Characteristics*:
ordered- 
Mutable-
Allow duplicate-

Access List Elements

In [6]:
languages = ["Python", "Java", "C++", "JavaScript"]

In [9]:
print(languages[3]) # first element

JavaScript

In [10]:
rev = languages[::-1]

In [11]:
print(rev) # reverse the list

['JavaScript', 'C++', 'Java', 'Python']

*Slicing in Lists*

In [12]:
mylist = ['p','q','r','s','t','u','v']
print(mylist)

['p', 'q', 'r', 's', 't', 'u', 'v']

In [16]:
print(mylist[1:5]) 
print(mylist[3:])
print(mylist[:5]) 
print(mylist[0::2])

['q', 'r', 's', 't']
['s', 't', 'u', 'v']
['p', 'q', 'r', 's', 't']
['p', 'r', 't', 'v']

In [17]:
print(mylist[2:-2])

['r', 's', 't']

*Add Elements to Lists*

In [18]:
fruit = ["apple", "banana", "cherry", "orange"]
print('original list:', fruit)
fruit.append("kiwi")
print('after append:', fruit)

original list: ['apple', 'banana', 'cherry', 'orange']
after append: ['apple', 'banana', 'cherry', 'orange', 'kiwi']

In [20]:
fruit.insert(1, "mango")
print('after insert:', fruit)

after insert: ['apple', 'mango', 'mango', 'banana', 'cherry', 'orange', 'kiwi']

In [21]:
fruit.remove("banana")
print('after remove:', fruit)

after remove: ['apple', 'mango', 'mango', 'cherry', 'orange', 'kiwi']

In [22]:
fruit[2] = "grape"
print('after replace:', fruit)

after replace: ['apple', 'mango', 'grape', 'cherry', 'orange', 'kiwi']

In [26]:
l1 = [1,2,3]
l2 = [4,5,6]
print(l1 + l2) # concatenation
print(l1 == l2) # comparison
print(l1 * 2) # repetition
print(l1 < l2)

[1, 2, 3, 4, 5, 6]
False
[1, 2, 3, 1, 2, 3]
True

*Iterating Through Lists*

In [27]:
fruit = ["apple", "banana", "cherry", "orange"]
for i in fruit:
    print(i)

apple
banana
cherry
orange

In [32]:
list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for i in list:
    if i % 2 == 1:
        print(i)
print("Maximum value in the list:", max(list))

1
3
5
7
9
Maximum value in the list: 10

In [34]:
l = [2,6,1,4,7,9,3]
l.sort()


**Tuple**

In [35]:
t = (1,2,-4)
print(t)

(1, 2, -4)

*List Characteristics*:
ordered- 
immutable-
Allow duplicate-

In [46]:
t = (1,5,2,7)
l = list(t)
print(l)

[1, 5, 2, 7]

**Sets**

In [42]:
a = {1,3,5,7,9}
a

{1, 3, 5, 7, 9}

In [50]:
q = {6,4,7,2,9}
q

{2, 4, 6, 7, 9}

In [51]:
q.add(8)
print(q)
q.discard(7)
q

{2, 4, 6, 7, 8, 9}

{2, 4, 6, 8, 9}

Set Operations

In [55]:
s1 = {1,2,3,4,5,6}
s2 = {3,4,5,7}
print(s1.union(s2))
print(s1 or s2)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6}

*List Questions*
1. Write a program to sort a list of integers in ascending order.
2. Create a list of strings and print the length of each string.
3. Given a list of numbers, find the maximum and minimum values.
4. Write a program to reverse a list without using the built-in reverse function.
5. Create a list of numbers and print the sum of all elements.

*Tuple Questions*
1. Write a program to create a tuple of student names and print the names in alphabetical order.
2. Given a tuple of numbers, find the maximum and minimum values.
3. Create a tuple of strings and print the length of each string.
4. Write a program to concatenate two tuples.
5. Given a tuple of numbers, find the average value.

*Set Questions*
1. Write a program to create a set of unique numbers from a list of numbers.
2. Given two sets of numbers, find the union and intersection.
3. Create a set of strings and print the number of unique strings.
4. Write a program to add and remove elements from a set.
5. Given two sets of numbers, find the difference.

*Mixed Questions*
1. Write a program to convert a list to a set and vice versa.
2. Given a list of numbers, find the duplicate elements using a set.
3. Create a program to check if an element exists in a list or set.
4. Write a program to find the common elements between two lists using sets.
5. Given a list of numbers, find the unique elements using a set.

In [ ]:
# Q#1
l = [3,5,4,8,6,2,7]
l.sort()
print(l)

[2, 3, 4, 5, 6, 7, 8]

In [21]:
# Q#2
strs = ["Ali","Ahmed","Ammar","Husnain"]
for i in strs:
    x = len(i)
    print(i,": ",x)

Ali :  3
Ahmed :  5
Ammar :  5
Husnain :  7

In [23]:
# Q#3
l = [3,5,4,8,6,2,7]
max = l[0]
min = l[0]
for i in l:
    if i > max:
        max = i
    if i < min:
        min = i

print("Max= ", max)
print("min= ",min)

Max=  8
min=  2

In [25]:
# Q#4
l = [3,5,4,8,6,2,7]
x = len(l)-1
k = []
while x >= 0 :
    k.append(l[x])
    x = x-1

print(k)

[7, 2, 6, 8, 4, 5, 3]

In [1]:
# 5. Create a list of numbers and print the sum of all elements.
l = [3,5,4,8,6,2,7]
sum = 0
for i in l:
    sum = sum + i
print(sum)

35

In [ ]:
# 1. Write a program to create a tuple of student names and print the names in alphabetical order.
t = ("Ali","Umar","Haider","Burhan")
x = tuple(sorted(t))
print(x)

('Ali', 'Burhan', 'Haider', 'Umar')

In [23]:
# 2. Given a tuple of numbers, find the maximum and minimum values.
t = (7,3,9,4,6,5)
maximum = t[0]
minimum = t[0]
for i in t:
    if i > maximum:
        maximum = i
    if i < minimum:
        minimum = i

print(f"Maximum of tuple manullay: {maximum}")
print(f"Minimum of tuple manullay: {minimum}")
maxi = max(t)
mini = min(t)
print(maxi)
print(mini)

Maximum of tuple manullay: 9
Minimum of tuple manullay: 3
9
3

In [25]:
# 3. Create a tuple of strings and print the length of each string.
t = ("Ali","Umar","Haider","Burhan")
for i in t:
    print(i.__len__())

3
4
6
6

In [26]:
# 4. Write a program to concatenate two tuples.
t1 = (2,4,6,8)
t2 = (1,3,5,7)
print(t1 + t2)

(2, 4, 6, 8, 1, 3, 5, 7)

In [30]:
# 5. Given a tuple of numbers, find the average value.
t = (7,3,9,4,6,5,3)
sum = 0
for i in t:
    sum += i
avg = sum/t.__len__()
print(f"average = {avg}")

average = 5.285714285714286

In [32]:
# 1. Write a program to create a set of unique numbers from a list of numbers.
l = [2,7,4,6,3,4,3]
s = set(l)
print("Set: ",s)

Set:  {2, 3, 4, 6, 7}

In [34]:
# 2. Given two sets of numbers, find the union and intersection.
s1 = {1,2,3}
s2 = {3,4,5,6}
print("Union of s1 and s2 :",s1.union(s2))
print("Intersection of s1 and s2 :",s1.intersection(s2))

Union of s1 and s2 : {1, 2, 3, 4, 5, 6}
Intersection of s1 and s2 : {3}

In [ ]:
# 3. Create a set of strings and print the number of unique strings.
s = {"Ali","Umar","Haider","Burhan","Ali"}
print("Number of unique strings:", len(s))

Number of unique strings: 4

In [44]:
# 4. Write a program to add and remove elements from a set.
s = {"Ali","Umar","Haider","Burhan","Ali"}
s.remove("Ali")
print("Set after removing Ali:" ,s)
s.add("Ali")
print("Set after adding Ali:" ,s)

Set after removing Ali: {'Umar', 'Haider', 'Burhan'}
Set after adding Ali: {'Umar', 'Haider', 'Ali', 'Burhan'}

In [46]:
# 5. Given two sets of numbers, find the difference.
s1 = {1,2,3}
s2 = {3,4,5,6}
print(s2-s1)

{4, 5, 6}

In [ ]:
# 1. Write a program to convert a list to a set and vice versa.
l = [3,5,'s',7,2]
s = set(l)
print("set = ",s)
l = list(s)
print("list = ",l)

set =  {2, 3, 5, 7, 's'}
list =  [2, 3, 5, 7, 's']

In [54]:
# 2. Given a list of numbers, find the duplicate elements using a set.
l = [4,2,6,7,5,8,7,4]
d = set()
s = set()
for n in l:
    if n in s:
        d.add(n)
    else:
        s.add(n)
l = list(d)
print("Duplicate values: ",l)

Duplicate values:  [4, 7]

In [63]:
# 3. Create a program to check if an element exists in a list or set.
e = int(input("Enter element: "))
l = [2,4,6,8,3,1]
s = {4,6,7,5,2,9}
if e in l and e in s:
    print(f"Element {e} is in both list and set.")
elif e in l:
    print(f"Element {e} is in list.")
elif e in s:
    print(f"Element {e} is in set.")
else:
    print(f"Element not found in set and list")

Element not found in set and list

In [69]:
# 4. Write a program to find the common elements between two lists using sets.
l1 = [2,4,6,8,3,1]
l2 = [4,6,7,5,2,9]

c = set()
for n in l1:
    if n in l2:
        c.add(n)
print("Common Elements: ",c)

Common Elements:  {2, 4, 6}

In [73]:
# 5. Given a list of numbers, find the unique elements using a set.
l = [4,2,6,7,5,8,7,4]
s = set()
for n in l:
    if n in s:
        s.remove(n)
    else:
        s.add(n)
l = list(s)
print("Unique values: ",l)

Unique values:  [2, 5, 6, 8]

**Completed**