In [17]:
import pandas as pd

In [18]:
dt = pd.read_csv("Soil Nutrients.csv")

In [19]:
dt.head()

,Name,Fertility,Photoperiod,Temperature,Rainfall,pH,Light_Hours,Light_Intensity,Rh,Nitrogen,Phosphorus,Potassium,Yield,Category_pH,Soil_Type,Season,N_Ratio,P_Ratio,K_Ratio
0,Strawberry,Moderate,Day Neutral,20.887923,747.860765,6.571548,13.091483,533.762876,91.197196,170.800381,118.670058,243.331211,20.369555,low_acidic,Loam,Summer,10.0,10.0,10.0
1,Strawberry,Moderate,Day Neutral,18.062721,711.104329,6.251806,13.063016,505.789101,91.939623,179.290364,121.020244,246.910378,20.402751,low_acidic,Loam,Spring,10.0,10.0,10.0
2,Strawberry,Moderate,Short Day Period,16.776782,774.038247,6.346916,12.945927,512.985617,91.387286,181.440732,116.936806,242.699601,19.158847,low_acidic,Loam,Summer,10.0,10.0,10.0
3,Strawberry,Moderate,Short Day Period,14.281000,665.633506,6.259598,13.318922,484.860067,91.254598,176.165282,122.233153,237.096892,20.265745,low_acidic,Loam,Summer,10.0,10.0,10.0
4,Strawberry,Moderate,Day Neutral,21.444490,806.531455,6.384368,13.312915,512.747307,92.354829,182.935334,126.088234,243.880364,20.397336,low_acidic,Loam,Spring,10.0,10.0,10.0

In [26]:
dt.shape

(15400, 19)

In [22]:
print(f"Max of Yield: {dt['Yield'].max()}")
print(f"Min of Yield: {dt['Yield'].min()}")

Max of Yield: 66.6192416580181
Min of Yield: 0.770212659907174

In [25]:
dt1 = dt[dt['Rh'] <80]
print(dt1)

             Name Fertility       Photoperiod  Temperature     Rainfall  \
2100      Arugula  Moderate       Day Neutral    21.548532   699.563355
2101      Arugula  Moderate  Short Day Period    19.298389   749.428170
2102      Arugula  Moderate       Day Neutral    18.991317   656.690373
2103      Arugula  Moderate  Short Day Period    20.419960   709.012173
2104      Arugula  Moderate  Short Day Period    18.801426   814.762481
...           ...       ...               ...          ...          ...
15395  Green Peas  Moderate  Short Day Period    18.237489  1079.572958
15396  Green Peas  Moderate  Short Day Period    16.603638   958.201820
15397  Green Peas  Moderate  Short Day Period    12.154144   947.899222
15398  Green Peas  Moderate  Short Day Period    17.493029   863.902923
15399  Green Peas  Moderate  Short Day Period    19.874206  1019.356655

             pH  Light_Hours  Light_Intensity         Rh    Nitrogen  \
2100   7.381288    10.006622       269.335666  38.919672  171.791515
2101   7.321708    11.000313       239.786029  34.927492  164.366081
2102   7.554360    10.965849       261.518595  34.583692  164.214463
2103   7.704955    11.152423       354.945367  36.148492  159.569223
2104   7.606352    10.719763       231.398738  33.129928  159.936051
...         ...          ...              ...        ...         ...
15395  6.777649     6.913269       314.935840  65.057374  150.515721
15396  5.839441     6.829060       345.860296  66.747340  144.310767
15397  6.499094     6.938902       320.293737  65.803531  147.068405
15398  5.940159     6.778806       300.501265  64.563183  144.416616
15399  6.463193     6.962825       370.327982  63.412816  142.049274

       Phosphorus   Potassium     Yield   Category_pH Soil_Type  Season  \
2100   340.391736  156.457930  7.237801  low_alkaline      Loam  Spring
2101   348.886089  160.173049  6.087718  low_alkaline      Loam    Fall
2102   343.759746  165.870562  6.783860       neutral      Loam  Spring
2103   340.213627  168.965350  7.224482       neutral      Loam    Fall
2104   351.118066  160.692004  6.149553       neutral      Loam  Spring
...           ...         ...       ...           ...       ...     ...
15395   48.860186  124.688035  4.977256       neutral     Sandy    Fall
15396   44.647790  121.589160  4.987133       neutral     Sandy    Fall
15397   42.351771  120.392912  5.043142    low_acidic     Sandy    Fall
15398   44.405726  119.291683  4.687349    low_acidic     Sandy  Spring
15399   46.346595  119.871309  5.123992    low_acidic     Sandy  Spring

       N_Ratio  P_Ratio  K_Ratio
2100      10.0     10.0     10.0
2101      10.0     10.0     10.0
2102      10.0     10.0     10.0
2103      10.0     10.0     10.0
2104      10.0     10.0     10.0
...        ...      ...      ...
15395      5.0     10.0     10.0
15396      5.0     10.0     10.0
15397      5.0     10.0     10.0
15398      5.0     10.0     10.0
15399      5.0     10.0     10.0

[11049 rows x 19 columns]

In [31]:
dt2=dt.query('pH < 5.5')
print(dt2)

             Name Fertility       Photoperiod  Temperature     Rainfall  \
1522       Grapes  Moderate  Short Day Period    17.510842   806.907866
1646       Grapes  Moderate       Day Neutral    21.246273   783.093813
1793       Grapes  Moderate  Short Day Period    23.328619   760.072030
5637         Kale      High  Short Day Period    18.985243   644.664297
5735         Kale      High       Day Neutral    19.499385   593.311074
...           ...       ...               ...          ...          ...
13289    Potatoes  Moderate  Short Day Period    20.258813   591.551298
13292    Potatoes  Moderate  Short Day Period    19.555164   669.406051
13293    Potatoes  Moderate  Short Day Period    19.181854   617.504468
13297    Potatoes  Moderate  Short Day Period    21.402637   670.301800
15333  Green Peas  Moderate  Short Day Period    19.152853  1049.068769

             pH  Light_Hours  Light_Intensity         Rh    Nitrogen  \
1522   5.400759    12.834552       583.630607  91.885865  137.914288
1646   5.375426    13.486664       575.889306  92.251179  143.435190
1793   5.356608    12.787755       599.121626  91.679792  135.997391
5637   5.469588     9.292573        81.623906  91.999483  161.871432
5735   5.474241    10.206123        83.555741  95.850737  186.607007
...         ...          ...              ...        ...         ...
13289  5.103642     6.657064       421.621404  70.433433  184.781806
13292  5.349787     6.977709       410.651338  70.870474  175.783420
13293  5.416766     6.894898       354.031247  74.177302  206.183334
13297  5.385979     6.879780       392.292824  67.800374  237.922760
15333  5.438930     6.733695       337.541850  66.161431  140.326585

       Phosphorus   Potassium      Yield Category_pH Soil_Type  Season  \
1522    58.922323  143.441139  12.454982     neutral      Loam    Fall
1646    63.756026  138.747209  12.859409     neutral      Loam    Fall
1793    59.554113  145.256654  12.256617     neutral      Loam  Summer
5637    55.345594  122.374021  17.993530  low_acidic      Loam  Winter
5735    60.360406  132.112673  17.165575  low_acidic      Loam  Summer
...           ...         ...        ...         ...       ...     ...
13289   83.360509  196.626568  28.424550  low_acidic      Loam    Fall
13292  101.978390  180.520781  29.569077  low_acidic      Loam    Fall
13293   88.610752  194.387111  28.966602  low_acidic      Loam    Fall
13297   82.443398  221.434245  28.592441  low_acidic      Loam    Fall
15333   47.766282  129.786149   5.163155     neutral     Sandy    Fall

       N_Ratio  P_Ratio  K_Ratio
1522      10.0     10.0     10.0
1646      10.0     10.0     10.0
1793      10.0     10.0     10.0
5637      10.0     10.0     10.0
5735      10.0     10.0     10.0
...        ...      ...      ...
13289     10.0     10.0     10.0
13292     10.0     10.0     10.0
13293     10.0     10.0     10.0
13297     10.0     10.0     10.0
15333      5.0     10.0     10.0

[232 rows x 19 columns]

In [32]:
dt2

,Name,Fertility,Photoperiod,Temperature,Rainfall,pH,Light_Hours,Light_Intensity,Rh,Nitrogen,Phosphorus,Potassium,Yield,Category_pH,Soil_Type,Season,N_Ratio,P_Ratio,K_Ratio
1522,Grapes,Moderate,Short Day Period,17.510842,806.907866,5.400759,12.834552,583.630607,91.885865,137.914288,58.922323,143.441139,12.454982,neutral,Loam,Fall,10.0,10.0,10.0
1646,Grapes,Moderate,Day Neutral,21.246273,783.093813,5.375426,13.486664,575.889306,92.251179,143.435190,63.756026,138.747209,12.859409,neutral,Loam,Fall,10.0,10.0,10.0
1793,Grapes,Moderate,Short Day Period,23.328619,760.072030,5.356608,12.787755,599.121626,91.679792,135.997391,59.554113,145.256654,12.256617,neutral,Loam,Summer,10.0,10.0,10.0
5637,Kale,High,Short Day Period,18.985243,644.664297,5.469588,9.292573,81.623906,91.999483,161.871432,55.345594,122.374021,17.993530,low_acidic,Loam,Winter,10.0,10.0,10.0
5735,Kale,High,Day Neutral,19.499385,593.311074,5.474241,10.206123,83.555741,95.850737,186.607007,60.360406,132.112673,17.165575,low_acidic,Loam,Summer,10.0,10.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13289,Potatoes,Moderate,Short Day Period,20.258813,591.551298,5.103642,6.657064,421.621404,70.433433,184.781806,83.360509,196.626568,28.424550,low_acidic,Loam,Fall,10.0,10.0,10.0
13292,Potatoes,Moderate,Short Day Period,19.555164,669.406051,5.349787,6.977709,410.651338,70.870474,175.783420,101.978390,180.520781,29.569077,low_acidic,Loam,Fall,10.0,10.0,10.0
13293,Potatoes,Moderate,Short Day Period,19.181854,617.504468,5.416766,6.894898,354.031247,74.177302,206.183334,88.610752,194.387111,28.966602,low_acidic,Loam,Fall,10.0,10.0,10.0
13297,Potatoes,Moderate,Short Day Period,21.402637,670.301800,5.385979,6.879780,392.292824,67.800374,237.922760,82.443398,221.434245,28.592441,low_acidic,Loam,Fall,10.0,10.0,10.0
15333,Green Peas,Moderate,Short Day Period,19.152853,1049.068769,5.438930,6.733695,337.541850,66.161431,140.326585,47.766282,129.786149,5.163155,neutral,Sandy,Fall,5.0,10.0,10.0

In [38]:
dt3=dt.query('pH < 5.5' or 'pH > 5.3')

In [39]:
dt3

,Name,Fertility,Photoperiod,Temperature,Rainfall,pH,Light_Hours,Light_Intensity,Rh,Nitrogen,Phosphorus,Potassium,Yield,Category_pH,Soil_Type,Season,N_Ratio,P_Ratio,K_Ratio
1522,Grapes,Moderate,Short Day Period,17.510842,806.907866,5.400759,12.834552,583.630607,91.885865,137.914288,58.922323,143.441139,12.454982,neutral,Loam,Fall,10.0,10.0,10.0
1646,Grapes,Moderate,Day Neutral,21.246273,783.093813,5.375426,13.486664,575.889306,92.251179,143.435190,63.756026,138.747209,12.859409,neutral,Loam,Fall,10.0,10.0,10.0
1793,Grapes,Moderate,Short Day Period,23.328619,760.072030,5.356608,12.787755,599.121626,91.679792,135.997391,59.554113,145.256654,12.256617,neutral,Loam,Summer,10.0,10.0,10.0
5637,Kale,High,Short Day Period,18.985243,644.664297,5.469588,9.292573,81.623906,91.999483,161.871432,55.345594,122.374021,17.993530,low_acidic,Loam,Winter,10.0,10.0,10.0
5735,Kale,High,Day Neutral,19.499385,593.311074,5.474241,10.206123,83.555741,95.850737,186.607007,60.360406,132.112673,17.165575,low_acidic,Loam,Summer,10.0,10.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13289,Potatoes,Moderate,Short Day Period,20.258813,591.551298,5.103642,6.657064,421.621404,70.433433,184.781806,83.360509,196.626568,28.424550,low_acidic,Loam,Fall,10.0,10.0,10.0
13292,Potatoes,Moderate,Short Day Period,19.555164,669.406051,5.349787,6.977709,410.651338,70.870474,175.783420,101.978390,180.520781,29.569077,low_acidic,Loam,Fall,10.0,10.0,10.0
13293,Potatoes,Moderate,Short Day Period,19.181854,617.504468,5.416766,6.894898,354.031247,74.177302,206.183334,88.610752,194.387111,28.966602,low_acidic,Loam,Fall,10.0,10.0,10.0
13297,Potatoes,Moderate,Short Day Period,21.402637,670.301800,5.385979,6.879780,392.292824,67.800374,237.922760,82.443398,221.434245,28.592441,low_acidic,Loam,Fall,10.0,10.0,10.0
15333,Green Peas,Moderate,Short Day Period,19.152853,1049.068769,5.438930,6.733695,337.541850,66.161431,140.326585,47.766282,129.786149,5.163155,neutral,Sandy,Fall,5.0,10.0,10.0

In [52]:
sr = dt.iloc[2:6]

In [53]:
sr

,Name,Fertility,Photoperiod,Temperature,Rainfall,pH,Light_Hours,Light_Intensity,Rh,Nitrogen,Phosphorus,Potassium,Yield,Category_pH,Soil_Type,Season,N_Ratio,P_Ratio,K_Ratio
2,Strawberry,Moderate,Short Day Period,16.776782,774.038247,6.346916,12.945927,512.985617,91.387286,181.440732,116.936806,242.699601,19.158847,low_acidic,Loam,Summer,10.0,10.0,10.0
3,Strawberry,Moderate,Short Day Period,14.281000,665.633506,6.259598,13.318922,484.860067,91.254598,176.165282,122.233153,237.096892,20.265745,low_acidic,Loam,Summer,10.0,10.0,10.0
4,Strawberry,Moderate,Day Neutral,21.444490,806.531455,6.384368,13.312915,512.747307,92.354829,182.935334,126.088234,243.880364,20.397336,low_acidic,Loam,Spring,10.0,10.0,10.0
5,Strawberry,Moderate,Short Day Period,18.655319,717.328188,6.481891,12.607460,495.907390,93.009123,182.237240,122.624012,239.459955,19.779821,low_acidic,Loam,Spring,10.0,10.0,10.0

In [ ]:
sr = dt.iloc[2:6,3:13]
#           rows,columns

In [49]:
sr

,Temperature,Rainfall,pH,Light_Hours,Light_Intensity,Rh,Nitrogen,Phosphorus,Potassium,Yield
2,16.776782,774.038247,6.346916,12.945927,512.985617,91.387286,181.440732,116.936806,242.699601,19.158847
3,14.281000,665.633506,6.259598,13.318922,484.860067,91.254598,176.165282,122.233153,237.096892,20.265745
4,21.444490,806.531455,6.384368,13.312915,512.747307,92.354829,182.935334,126.088234,243.880364,20.397336
5,18.655319,717.328188,6.481891,12.607460,495.907390,93.009123,182.237240,122.624012,239.459955,19.779821

loc includes the end point value , iloc does not

In [54]:
sc = dt.loc[2:6]

In [55]:
sc

,Name,Fertility,Photoperiod,Temperature,Rainfall,pH,Light_Hours,Light_Intensity,Rh,Nitrogen,Phosphorus,Potassium,Yield,Category_pH,Soil_Type,Season,N_Ratio,P_Ratio,K_Ratio
2,Strawberry,Moderate,Short Day Period,16.776782,774.038247,6.346916,12.945927,512.985617,91.387286,181.440732,116.936806,242.699601,19.158847,low_acidic,Loam,Summer,10.0,10.0,10.0
3,Strawberry,Moderate,Short Day Period,14.281000,665.633506,6.259598,13.318922,484.860067,91.254598,176.165282,122.233153,237.096892,20.265745,low_acidic,Loam,Summer,10.0,10.0,10.0
4,Strawberry,Moderate,Day Neutral,21.444490,806.531455,6.384368,13.312915,512.747307,92.354829,182.935334,126.088234,243.880364,20.397336,low_acidic,Loam,Spring,10.0,10.0,10.0
5,Strawberry,Moderate,Short Day Period,18.655319,717.328188,6.481891,12.607460,495.907390,93.009123,182.237240,122.624012,239.459955,19.779821,low_acidic,Loam,Spring,10.0,10.0,10.0
6,Strawberry,Moderate,Short Day Period,16.790311,779.629930,6.413393,13.500056,464.846855,92.529800,163.246492,123.320220,241.460453,19.726578,low_acidic,Loam,Summer,10.0,10.0,10.0

In [56]:
sp = dt.loc[2:10,['Name','pH','Rh']]

In [57]:
sp

          Name        pH         Rh
2   Strawberry  6.346916  91.387286
3   Strawberry  6.259598  91.254598
4   Strawberry  6.384368  92.354829
5   Strawberry  6.481891  93.009123
6   Strawberry  6.413393  92.529800
7   Strawberry  6.448947  92.671838
8   Strawberry  6.750672  91.931189
9   Strawberry  6.320742  91.035197
10  Strawberry  6.527501  92.469314

In [60]:
dt.query('Rainfall < 600' and 'Rh > 96')

,Name,Fertility,Photoperiod,Temperature,Rainfall,pH,Light_Hours,Light_Intensity,Rh,Nitrogen,Phosphorus,Potassium,Yield,Category_pH,Soil_Type,Season,N_Ratio,P_Ratio,K_Ratio
2800,Beet,High,Short Day Period,18.117918,770.682321,6.516109,6.501872,121.722051,98.830021,117.090042,157.908720,103.160922,57.351982,neutral,Sandy Loam,Spring,75.0,37.5,37.5
2801,Beet,High,Short Day Period,17.747869,639.490364,6.561778,6.620509,107.133870,98.731592,117.126339,178.565023,108.451130,66.619242,low_acidic,Sandy Loam,Fall,75.0,37.5,37.5
2802,Beet,High,Short Day Period,19.263801,726.052787,6.639372,6.637230,131.148683,99.520515,120.496846,157.266543,100.882437,56.546431,neutral,Sandy Loam,Fall,75.0,37.5,37.5
2803,Beet,High,Short Day Period,22.368768,714.472333,6.815742,6.851467,122.183556,99.358974,127.084794,151.762875,94.667663,60.239832,low_acidic,Sandy Loam,Spring,75.0,37.5,37.5
2804,Beet,High,Short Day Period,19.048828,681.228104,6.409290,6.534324,125.416694,98.922271,130.360704,154.732256,88.737814,51.495399,neutral,Sandy Loam,Spring,75.0,37.5,37.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7618,Radicchio,Moderate,Short Day Period,21.886739,2039.639252,7.103663,6.441612,254.059881,96.686562,124.737140,40.131149,89.785284,2.838762,low_alkaline,Loam,Spring,13.0,13.0,13.0
7630,Radicchio,Moderate,Short Day Period,15.309980,1791.440448,6.759703,6.334088,173.468756,96.000628,129.634255,41.249072,91.797741,4.131755,neutral,Loam,Fall,13.0,13.0,13.0
7645,Radicchio,Moderate,Short Day Period,19.850471,2177.596177,7.399724,6.104478,247.624491,96.991157,129.721416,39.204609,87.794842,3.708668,low_alkaline,Loam,Fall,13.0,13.0,13.0
7663,Radicchio,Moderate,Short Day Period,20.150645,1941.571209,6.799941,6.792384,204.958530,96.431211,125.713609,38.822998,81.792128,3.453889,neutral,Loam,Fall,13.0,13.0,13.0
7686,Radicchio,Moderate,Short Day Period,18.012964,2091.499828,6.116631,5.959258,194.929439,96.116407,130.713691,38.147767,77.239785,4.179621,low_alkaline,Loam,Fall,13.0,13.0,13.0

In [61]:
dt.query('Rainfall < 600' or 'Rh < 92')

,Name,Fertility,Photoperiod,Temperature,Rainfall,pH,Light_Hours,Light_Intensity,Rh,Nitrogen,Phosphorus,Potassium,Yield,Category_pH,Soil_Type,Season,N_Ratio,P_Ratio,K_Ratio
700,Watermelon,High,Short Day Period,35.563270,586.947413,6.631718,7.630030,310.366735,90.203469,80.261098,43.340810,50.664564,48.673047,neutral,Sandy Loam,Spring,10.0,10.0,10.0
701,Watermelon,High,Short Day Period,36.921784,599.045438,6.587664,6.983854,323.307477,90.001451,88.885632,42.691272,60.653007,49.478778,neutral,Sandy Loam,Summer,10.0,10.0,10.0
703,Watermelon,High,Short Day Period,37.450067,588.696922,6.582005,7.401674,288.169359,89.559781,93.109563,45.763571,64.370017,46.593368,low_acidic,Sandy Loam,Spring,10.0,10.0,10.0
711,Watermelon,High,Short Day Period,35.091384,580.516762,6.695574,6.652195,306.812546,90.012073,82.334961,38.495101,62.286280,49.688160,neutral,Sandy Loam,Summer,10.0,10.0,10.0
714,Watermelon,High,Short Day Period,34.712947,597.132276,6.515071,7.193371,287.912280,90.412759,91.094889,39.860334,61.830394,48.480056,low_acidic,Sandy Loam,Summer,10.0,10.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13265,Potatoes,Moderate,Short Day Period,21.267154,596.706905,5.742630,7.246451,434.926443,75.341302,199.069858,79.056483,205.331210,29.180019,low_acidic,Loam,Fall,10.0,10.0,10.0
13274,Potatoes,Moderate,Short Day Period,20.452898,527.384299,5.614742,6.814128,408.875171,68.301594,225.283806,86.039498,199.705562,28.501353,low_acidic,Loam,Fall,10.0,10.0,10.0
13278,Potatoes,Moderate,Short Day Period,20.658737,591.944063,5.369474,7.066200,336.410381,70.344556,189.613397,74.222653,189.346716,29.653585,low_acidic,Loam,Fall,10.0,10.0,10.0
13289,Potatoes,Moderate,Short Day Period,20.258813,591.551298,5.103642,6.657064,421.621404,70.433433,184.781806,83.360509,196.626568,28.424550,low_acidic,Loam,Fall,10.0,10.0,10.0
14022,Broccoli,High,Short Day Period,19.210494,572.384806,6.575500,6.976601,370.997383,55.132694,115.332115,87.428446,164.652484,23.492213,neutral,Loam,Fall,10.0,10.0,10.0

In [62]:

fd = dt[dt['Nitrogen'] > 199]
print(fd)

             Name Fertility       Photoperiod  Temperature    Rainfall  \
338    Strawberry  Moderate       Day Neutral    18.466664  846.051600
3516        Chard      High  Short Day Period    23.343679  729.075840
3518        Chard      High  Short Day Period    21.578580  684.678317
3556        Chard      High  Short Day Period    20.842293  700.456929
3557        Chard      High       Day Neutral    22.147026  724.037151
...           ...       ...               ...          ...         ...
13288    Potatoes  Moderate  Short Day Period    18.033163  730.870100
13291    Potatoes  Moderate  Short Day Period    18.926253  706.371051
13293    Potatoes  Moderate  Short Day Period    19.181854  617.504468
13296    Potatoes  Moderate  Short Day Period    17.867522  629.700608
13297    Potatoes  Moderate  Short Day Period    21.402637  670.301800

             pH  Light_Hours  Light_Intensity         Rh    Nitrogen  \
338    6.456647    12.366996       478.433781  92.372568  200.356849
3516   6.583870    13.024844       945.769905  39.510157  217.528857
3518   6.433742    12.783068       930.401447  42.629942  204.567745
3556   6.462482    12.663916       950.212229  43.956203  216.282936
3557   6.549824    13.053831       917.950637  47.723701  204.308695
...         ...          ...              ...        ...         ...
13288  6.003790     6.751237       444.066654  70.843058  204.860964
13291  5.724027     7.412525       404.217805  71.729046  217.377502
13293  5.416766     6.894898       354.031247  74.177302  206.183334
13296  5.528506     7.363141       455.864802  71.226214  223.351569
13297  5.385979     6.879780       392.292824  67.800374  237.922760

       Phosphorus   Potassium      Yield Category_pH   Soil_Type  Season  \
338    116.427181  240.463698  19.794616  low_acidic        Loam  Summer
3516   228.262674  339.852890  26.694692  low_acidic        Loam  Summer
3518   239.959838  349.703500  26.100535     neutral  Sandy Loam    Fall
3556   247.767952  337.766343  27.965234     neutral  Sandy Loam  Summer
3557   241.693312  309.639414  24.206476     neutral  Sandy Loam    Fall
...           ...         ...        ...         ...         ...     ...
13288   88.675503  170.912873  29.709295  low_acidic        Loam    Fall
13291   86.516786  199.152649  28.796188  low_acidic        Loam    Fall
13293   88.610752  194.387111  28.966602  low_acidic        Loam    Fall
13296   97.705486  215.726958  29.472706  low_acidic        Loam    Fall
13297   82.443398  221.434245  28.592441  low_acidic        Loam    Fall

       N_Ratio  P_Ratio  K_Ratio
338       10.0     10.0     10.0
3516       5.0     10.0     10.0
3518       5.0     10.0     10.0
3556       5.0     10.0     10.0
3557       5.0     10.0     10.0
...        ...      ...      ...
13288     10.0     10.0     10.0
13291     10.0     10.0     10.0
13293     10.0     10.0     10.0
13296     10.0     10.0     10.0
13297     10.0     10.0     10.0

[1072 rows x 19 columns]

In [ ]:
ai = dt.at[13296,'Rh']
#           row, column     
# Accesing speciefic data

In [66]:
ai

71.2262144438481

Adding new Column

In [69]:
sp.head()

         Name        pH         Rh
2  Strawberry  6.346916  91.387286
3  Strawberry  6.259598  91.254598
4  Strawberry  6.384368  92.354829
5  Strawberry  6.481891  93.009123
6  Strawberry  6.413393  92.529800

In [72]:
sp['kh'] = sp['pH']*0.6+sp['Rh']

In [73]:
sp.head()

         Name        pH         Rh         kh
2  Strawberry  6.346916  91.387286  95.195435
3  Strawberry  6.259598  91.254598  95.010357
4  Strawberry  6.384368  92.354829  96.185450
5  Strawberry  6.481891  93.009123  96.898258
6  Strawberry  6.413393  92.529800  96.377836

In [74]:
sp.insert(1, 'Ch', sp['pH'] * 0.1)

In [75]:
sp.head()

         Name        Ch        pH         Rh         kh
2  Strawberry  0.634692  6.346916  91.387286  95.195435
3  Strawberry  0.625960  6.259598  91.254598  95.010357
4  Strawberry  0.638437  6.384368  92.354829  96.185450
5  Strawberry  0.648189  6.481891  93.009123  96.898258
6  Strawberry  0.641339  6.413393  92.529800  96.377836

In [78]:
import numpy as np

In [87]:
sp['cprk']=np.where(sp['Ch'] >0.639 , 0 , 1)

In [88]:
sp.head()

         Name        Ch        pH         Rh         kh  cprk
2  Strawberry  0.634692  6.346916  91.387286  95.195435     1
3  Strawberry  0.625960  6.259598  91.254598  95.010357     1
4  Strawberry  0.638437  6.384368  92.354829  96.185450     1
5  Strawberry  0.648189  6.481891  93.009123  96.898258     0
6  Strawberry  0.641339  6.413393  92.529800  96.377836     0

In [89]:
sp['01'] = sp['Rh']>92

In [90]:
sp.head()

         Name        Ch        pH         Rh         kh  cprk     01
2  Strawberry  0.634692  6.346916  91.387286  95.195435     1  False
3  Strawberry  0.625960  6.259598  91.254598  95.010357     1  False
4  Strawberry  0.638437  6.384368  92.354829  96.185450     1   True
5  Strawberry  0.648189  6.481891  93.009123  96.898258     0   True
6  Strawberry  0.641339  6.413393  92.529800  96.377836     0   True

In [98]:
dkk = pd.read_csv("Soil Nutrients.csv")

In [100]:
dkk

,Name,Fertility,Photoperiod,Temperature,Rainfall,pH,Light_Hours,Light_Intensity,Rh,Nitrogen,Phosphorus,Potassium,Yield,Category_pH,Soil_Type,Season,N_Ratio,P_Ratio,K_Ratio
0,Strawberry,Moderate,Day Neutral,20.887923,747.860765,6.571548,13.091483,533.762876,91.197196,170.800381,118.670058,243.331211,20.369555,low_acidic,Loam,Summer,10.0,10.0,10.0
1,Strawberry,Moderate,Day Neutral,18.062721,711.104329,6.251806,13.063016,505.789101,91.939623,179.290364,121.020244,246.910378,20.402751,low_acidic,Loam,Spring,10.0,10.0,10.0
2,Strawberry,Moderate,Short Day Period,16.776782,774.038247,6.346916,12.945927,512.985617,91.387286,181.440732,116.936806,242.699601,19.158847,low_acidic,Loam,Summer,10.0,10.0,10.0
3,Strawberry,Moderate,Short Day Period,14.281000,665.633506,6.259598,13.318922,484.860067,91.254598,176.165282,122.233153,237.096892,20.265745,low_acidic,Loam,Summer,10.0,10.0,10.0
4,Strawberry,Moderate,Day Neutral,21.444490,806.531455,6.384368,13.312915,512.747307,92.354829,182.935334,126.088234,243.880364,20.397336,low_acidic,Loam,Spring,10.0,10.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15395,Green Peas,Moderate,Short Day Period,18.237489,1079.572958,6.777649,6.913269,314.935840,65.057374,150.515721,48.860186,124.688035,4.977256,neutral,Sandy,Fall,5.0,10.0,10.0
15396,Green Peas,Moderate,Short Day Period,16.603638,958.201820,5.839441,6.829060,345.860296,66.747340,144.310767,44.647790,121.589160,4.987133,neutral,Sandy,Fall,5.0,10.0,10.0
15397,Green Peas,Moderate,Short Day Period,12.154144,947.899222,6.499094,6.938902,320.293737,65.803531,147.068405,42.351771,120.392912,5.043142,low_acidic,Sandy,Fall,5.0,10.0,10.0
15398,Green Peas,Moderate,Short Day Period,17.493029,863.902923,5.940159,6.778806,300.501265,64.563183,144.416616,44.405726,119.291683,4.687349,low_acidic,Sandy,Spring,5.0,10.0,10.0
15399,Green Peas,Moderate,Short Day Period,19.874206,1019.356655,6.463193,6.962825,370.327982,63.412816,142.049274,46.346595,119.871309,5.123992,low_acidic,Sandy,Spring,5.0,10.0,10.0

In [112]:
sdk=dkk[dkk['Fertility']=='High']

In [113]:
sdk

,Name,Fertility,Photoperiod,Temperature,Rainfall,pH,Light_Hours,Light_Intensity,Rh,Nitrogen,Phosphorus,Potassium,Yield,Category_pH,Soil_Type,Season,N_Ratio,P_Ratio,K_Ratio
700,Watermelon,High,Short Day Period,35.563270,586.947413,6.631718,7.630030,310.366735,90.203469,80.261098,43.340810,50.664564,48.673047,neutral,Sandy Loam,Spring,10.0,10.0,10.0
701,Watermelon,High,Short Day Period,36.921784,599.045438,6.587664,6.983854,323.307477,90.001451,88.885632,42.691272,60.653007,49.478778,neutral,Sandy Loam,Summer,10.0,10.0,10.0
702,Watermelon,High,Short Day Period,35.018391,685.574228,6.453595,6.645510,286.517343,90.337514,93.816222,54.951182,59.784031,47.589818,neutral,Sandy Loam,Summer,10.0,10.0,10.0
703,Watermelon,High,Short Day Period,37.450067,588.696922,6.582005,7.401674,288.169359,89.559781,93.109563,45.763571,64.370017,46.593368,low_acidic,Sandy Loam,Spring,10.0,10.0,10.0
704,Watermelon,High,Short Day Period,35.961415,603.321092,6.456330,7.220500,299.538368,89.856186,89.347826,43.033746,68.576777,48.637154,low_acidic,Sandy Loam,Summer,10.0,10.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14695,Broccoli,High,Short Day Period,18.925396,704.415192,6.471166,7.292377,339.437152,55.058489,107.870662,98.902366,163.010403,23.600978,low_acidic,Loam,Winter,10.0,10.0,10.0
14696,Broccoli,High,Short Day Period,20.589090,928.617317,6.567901,7.015248,403.535614,54.554815,95.295526,92.167321,168.309713,23.701683,neutral,Loam,Fall,10.0,10.0,10.0
14697,Broccoli,High,Short Day Period,20.136745,823.725130,6.508749,6.954170,361.840622,54.815147,99.653195,103.979179,152.547018,23.467586,low_acidic,Loam,Spring,10.0,10.0,10.0
14698,Broccoli,High,Short Day Period,18.515526,928.545693,6.461363,6.507021,378.127596,52.944104,103.626642,113.806884,169.792152,23.718896,low_acidic,Loam,Spring,10.0,10.0,10.0
14699,Broccoli,High,Short Day Period,20.192656,938.182545,6.609030,6.998322,423.207157,54.345716,93.527443,99.989271,150.765548,23.516720,neutral,Loam,Winter,10.0,10.0,10.0

In [115]:
dkk['Fertility'].unique()

array(['Moderate', 'High'], dtype=object)

In [117]:
dkk['Fertility'].value_counts()

Fertility
High        9800
Moderate    5600
Name: count, dtype: int64